# **"Prediccion de la rotacion de empleados".**

![ROTACION lABORAL](../NOTEBOOKS/1955-Portada-analisis-de-la-fuerza-de-trabajo.jpg)

## Objetivo:

### Comprender los factores que influyen en la deserción de los empleados en la empresa y encontrar posibles soluciones para reducir la tasa de deserción .

#### Comenzamos importando las librerias necesarias para el analisis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

In [2]:
df1 = pd.read_csv(
    r'C:\Users\Jholman Cuartas\Desktop\PROYECTO_3_HR_Analytics\avance\Andrés\WA_Fn-UseC_-HR-Employee-Attrition-valores nulos.csv')

##### Leer el conjunto de datos de los DataFrame y Mostrar las primeras filas y sus columnas

In [3]:
# Leer el conjunto de datos df1
df1 = pd.read_csv(
    r'C:\Users\Jholman Cuartas\Desktop\PROYECTO_3_HR_Analytics\avance\Andrés\WA_Fn-UseC_-HR-Employee-Attrition-valores nulos.csv')
# Obtener los nombres de las columnas de df1
columnas_df1 = df1.columns
print("Columnas del DataFrame df1:")
print(columnas_df1)

# Mostrar las primeras filas de df1
print("\nPrimeras filas del DataFrame df1:")
print(df1.head())

Columnas del DataFrame df1:
Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

Primeras filas del DataFrame df1:
   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1             1.0
1                 8          1  Life Sciences              1             2.0
2                 2          2          Other              1             4.0
3                 3          4  Life Sciences              1             5.0
4                 2          1        Medical              1             7.0

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1          80.0                 0
1  ...                         4          80.0                 1
2  ...                         2          80.0                 0
3  ...                         3          80.0                 0
4  ...                         4          80.0                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1             6.0
1                 10                      3               3            10.0
2                  7                      3               3             0.0
3                  8                      3               3             8.0
4                  6                      3               3             2.0

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [4]:
print("\nResumen del DataFrame df1:")
print(df1.info())

Resumen del DataFrame df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1469 non-null   object
 2   BusinessTravel            1469 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1468 non-null   float64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1469 non-null   float64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1467 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1468 non-null   object
 18  MonthlyIncome             1468 non-null   float64
 19  MonthlyRate               1467 non-null   float64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1467 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1469 non-null   float64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1469 non-null   float64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(6), int64(20), object(9)
memory usage: 402.1+ KB
None

In [5]:
display(df1.head())

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1.0,...,1,80.0,0,8,0,1,6.0,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2.0,...,4,80.0,1,10,3,3,10.0,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4.0,...,2,80.0,0,7,3,3,0.0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5.0,...,3,80.0,0,8,3,3,8.0,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7.0,...,4,80.0,1,6,3,3,2.0,2,2,2

In [6]:
df1.isnull().sum()

Age                         0
Attrition                   1
BusinessTravel              1
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              2
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  1
JobInvolvement              0
JobLevel                    0
JobRole                     3
JobSatisfaction             0
MaritalStatus               2
MonthlyIncome               2
MonthlyRate                 3
NumCompaniesWorked          0
Over18                      0
OverTime                    3
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               1
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              1
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
print(df1.describe(include='all').loc['count'])

Age                         1470.0
Attrition                     1469
BusinessTravel                1469
DailyRate                   1470.0
Department                    1470
DistanceFromHome            1470.0
Education                   1470.0
EducationField                1470
EmployeeCount               1470.0
EmployeeNumber              1468.0
EnvironmentSatisfaction     1470.0
Gender                        1470
HourlyRate                  1469.0
JobInvolvement              1470.0
JobLevel                    1470.0
JobRole                       1467
JobSatisfaction             1470.0
MaritalStatus                 1468
MonthlyIncome               1468.0
MonthlyRate                 1467.0
NumCompaniesWorked          1470.0
Over18                        1470
OverTime                      1467
PercentSalaryHike           1470.0
PerformanceRating           1470.0
RelationshipSatisfaction    1470.0
StandardHours               1469.0
StockOptionLevel            1470.0
TotalWorkingYears           1470.0
TrainingTimesLastYear       1470.0
WorkLifeBalance             1470.0
YearsAtCompany              1469.0
YearsInCurrentRole          1470.0
YearsSinceLastPromotion     1470.0
YearsWithCurrManager        1470.0
Name: count, dtype: object

In [8]:
# conserva el df original
df2 = df1.dropna()
df2.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
# El original se conservan los nulos
df1.isnull().sum()

Age                         0
Attrition                   1
BusinessTravel              1
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              2
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  1
JobInvolvement              0
JobLevel                    0
JobRole                     3
JobSatisfaction             0
MaritalStatus               2
MonthlyIncome               2
MonthlyRate                 3
NumCompaniesWorked          0
Over18                      0
OverTime                    3
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               1
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              1
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Imputar

In [10]:
df2 = df1.copy()

In [11]:
df2['Age']. fillna(df2['Age'].median(), inplace=True)

In [12]:
df1['BusinessTravel' ] = df1['BusinessTravel'].astype(str)

In [13]:
df2['EmployeeNumber']. fillna(df2['EmployeeNumber'].median(), inplace=True)

In [14]:
df2['HourlyRate']. fillna(df2['HourlyRate'].median(), inplace=True)

In [15]:
df1['Attrition'].fillna('Other', inplace=True)

In [16]:
df1['JobRole'].fillna('Other', inplace=True)

## solucionar por numerica o categorica

In [17]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer

numeric_cols  = df.select_dtypes(include=np.number).columns
categorical_cols = df.select_dtypes(include='object').columns

df[numeric_cols] = IterativeImputer(random_state=42).fit_transform(df[numeric_cols])
df[categorical_cols] = SimpleImputer(strategy='most_frequent').fit_transform(df[categorical_cols])

df.isnull().sum()

NameError: name 'df' is not defined

## Guardar cambios nuevos csv

In [ ]:
df2.to_csv((
    r'C:\Users\Jholman Cuartas\Desktop\PROYECTO_3_HR_Analytics\avance\Andrés\WA_Fn-UseC_-HR-Employee-Attrition-valores nulos_clean.csv'), index=False)